# --- Servidor ---
PORT=3001

# --- PostgreSQL (mismo cluster donde se corrió schema.sql) ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=retail_user
DB_PASSWORD=retail
DB_NAME=retaildb

# --- JWT ---
# Genera secretos robustos, ej: openssl rand -base64 48
JWT_ACCESS_SECRET=cambia_este_valor_en_produccion
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=cambia_este_otro_valor_en_produccion
JWT_REFRESH_EXPIRES_IN=7d

# --- Bcrypt ---
BCRYPT_SALT_ROUNDS=12
